include ../shared/asset

doctype html
html(lang=locale)
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="robots", content="noindex")

        block title
            title=meta.title + ' - Admin'

        link(rel="icon", type="image/png", href="/images/favicon.ico")

        block style
            +asset_css('admin', 'admin')

        +asset_js('admin', 'common')
        +asset_js('admin', 'admin', true)

        block script

    body
        block body
