extends layout
include ../shared/form

block body
    style
        | html {
        |   min-height: 100%;
        | }
        |
        | body {
        |   min-height: 100%;
        |   background-color: #353353;
        |   background-image: url("/images/wallpaper.webp");
        |   background-size: cover;
        |   background-repeat: no-repeat;
        |   background-position: center center;
        | }
    div.container
        form(action=post('admin_sign_in'), method="post")
            div.row.my-5.text-center
                h1.text-dark= trans('admin')

            div.row
                div.col-xxl-4.col-xl-3
                div.col-xxl-4.col-xl-6
                    div.rounded.bg-white.shadow.shadow-dark.p-5
                        if error
                            p.alert.alert-danger= trans(error)

                        +input('username', form)
                        +input('password', form)
                        +input('remember-me', form)

                        button.w-100.btn.btn-primary(type="submit")= trans('actions.sign_in')
                div.col-xxl-4.col-xl-3
