nav.header-main.navbar.navbar-expand-lg.bg-body-tertiary.mb-4
  .container
    a.navbar-brand(href='/') #{setting('metaTitle')}
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon

    #navbar-nav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='/') About
        li.nav-item
          a.nav-link(href='/') Contact
