$default:       #FF4C60 !default;
$primary:       #FF4C60 !default;
$secondary:     #6c757d !default;
$success:       #28a745 !default;
$info:          #17a2b8 !default;
$warning:       #ffc107 !default;
$danger:        #dc3545 !default;
$light:         #f8f9fa !default;
$dark:          #343a40 !default;

$bg-dark-color:  #353353 !default;
$bg-light-color: #f9f9ff !default;
$nav-item-color: #FFD15C !default;
$title-color:    #454360 !default;

$btn-padding-x:     .75rem * 2;
$btn-font-weight:   700;
$btn-border-radius: 30px;
