@import "variables";
@import "bootstrap/scss/bootstrap";

@import "elements.scss";

body {
    //font-family: VarelaRound, Arial, sans-serif;
    background: #f7f8f8 url('@admin/assets/images/pattern.png') repeat scroll 0% 0%;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
